.password-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.password-strength {
  display: flex;
  gap: 5px;
}

.strength-bar {
  width: 100px;
  height: 10px;
  background-color: lightgray;
}

.strength-bar.gray {
  background-color: lightgray;
}

.strength-bar.red {
  background-color: red;
}

.strength-bar.yellow {
  background-color: yellow;
}

.strength-bar.green {
  background-color: green;
}
